name: Test CLI
on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
        working-directory: cli
      - run: npm test
        working-directory: cli
      - name: Run UX Tests
        run: ./scripts/test-cli-ux.sh
